:root {
    --light-clr: #FFF;
    --form-bg-clr: #B8E4DA;
    --dark-bg-clr: #072125;
    --dark-green-clr: #20484F;
    --light-green-clr: #DCF2ED;
    --border-clr: rgba(32, 72, 79, 0.1);
    --border-hvr-clr: rgba(32, 72, 79, 0.2);
    --grey-clr: #FAFAFA;
}